@{
    ViewBag.Title = "O nas";
}
<h2>@ViewBag.Title.</h2>

<p>Jesteśmy oficjalnym klubem sportowym działającym od 1976 roku na terenie Krosna. Klub został założony z myślą o zapewnieniu dzieciom i młodzieży możliwości rozwoju w kierunku sportu. Z czasem 
    rozrósł się do rangi pełnoprawnego klubu.
    </p>
