@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>


<address>
    Kacper Tylutki<br />
    ul. Nowa, Krosno 12-345<br />
    <abbr title="Telefon">P:</abbr>
    123 456 789
</address>

<address>
    <strong>Wsparcie techniczne:</strong>   <a href="mailto:Support@example.com">klub@support.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">klubmarketing@gmail.com</a>
</address>